# vCenter
VCENTER_HOST=vcenter.domain.local
VCENTER_USER=migration-svc@domain.local
VCENTER_PASS=<your_password>

# Hyper-V
HYPERV_HOST=hyperv01.domain.local
HYPERV_VM_PATH=D:\Hyper-V\VMs
HYPERV_VHDX_PATH=D:\Hyper-V\VHDs
HYPERV_SWITCH=External

# Alerting (optional)
ALERTING_WEBHOOK=https://hooks.slack.com/services/xxx
ALERTING_FORMAT=slack

# CI/CD
CI=false
